choice orig { display:none }


l:not([part]) { display: block }
l[part="I"] { border: unset ;}
l[part="F"] { border: unset ; }


seg[type="segment"][n="b"] {display: block ; background: lightgray ; border: solid}

note[subtype="argumentum"] { display: block ; border: solid ; background: red}
note[subtype="explicatio"] { display: block ; border: solid ; background: blue}
note[subtype="notae"] {display: block ; border : solid ; background: green}